<ion-card>
  <ion-card-header>
    <ion-card-title>{{ question.title }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      @if (question.type === 'checkbox') {
        @for (option of question.options; let i = $index; track i) {
          <ion-item>
            <ion-checkbox labelPlacement="start">{{ option }}</ion-checkbox>
          </ion-item>
        }
      } @else if (question.type === 'radio') {
        <ion-radio-group value="strawberries">
        @for (option of question.options; let i = $index; track i) {
          <ion-item>
            <ion-radio [value]="option" labelPlacement="start">{{ option }}</ion-radio>
          </ion-item>
          }
        </ion-radio-group>
      } @else {
        <ion-item>
          <ion-textarea label="Ваш ответ:" labelPlacement="floating"></ion-textarea>
        </ion-item>
      }
    </ion-list>
  </ion-card-content>
</ion-card>
