<app-header [headerTitle]="'Вопросы'"/>

<ion-content [fullscreen]="true">


    @if (isLoading) {
      <ion-list>
        <ion-item>
          <ion-label>
            <ion-skeleton-text [animated]="true" style="width: 80%;"></ion-skeleton-text>
          </ion-label>
          <ion-icon slot="start" name="reorder-two"></ion-icon>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-label>
            <ion-skeleton-text [animated]="true" style="width: 70%;"></ion-skeleton-text>
          </ion-label>
          <ion-icon slot="start" name="reorder-two"></ion-icon>
        </ion-item>
      </ion-list>
      <ion-list>
        <ion-item>
          <ion-label>
            <ion-skeleton-text [animated]="true" style="width: 90%;"></ion-skeleton-text>
          </ion-label>
          <ion-icon slot="start" name="reorder-two"></ion-icon>
        </ion-item>
      </ion-list>
    } @else if(questions.length === 0 ) {
      <div id="container">
        <strong>Список вопросов пуст</strong>
        <p>Может, пора добавить несколько?😉</p>
        <p>Это можно сделать с помощью кнопки <ion-icon name="add-circle-outline" id="add-fab"></ion-icon></p>
      </div>
    } @else {
      <ion-list>
      <!-- The reorder gesture is disabled by default, enable it to drag and drop items -->
      <!-- Casting $event to $any is a temporary fix for this bug https://github.com/ionic-team/ionic-framework/issues/24245 -->
      <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
        <ion-item>
          <ion-label> Персональные данные </ion-label>
          <ion-icon slot="start" name="person-outline"></ion-icon>
        </ion-item>
        @for (question of questions; track question.id) {
          <app-question-item
            [title]="question.title"
            [id]="question.id || ''"
            [type]="question.type"
            [question]="question"
            (deleted)="onQuestionDeleted($event)"
            (editing)="onQuestionUpdated($event)"
          />
        }
      </ion-reorder-group>
      </ion-list>
    }

  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button aria-label="Свободный ответ" (click)="openModal('text', 'add')">
        <ion-icon name="pencil"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="openModal('checkbox', 'add')">
        <ion-icon name="checkmark-done-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="openModal('radio', 'add')">
        <ion-icon name="radio-button-on-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
qu
