#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);

  h1 {
    font-size: 4em;
  }
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-fab {
  background-color: var(--ion-background-color);
  border-radius: 56px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;

  &[disabled] {
    pointer-events: none;
    opacity: 0.5;
  }

  ion-label {
    margin: 0 1rem;
  }
}
