<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      🏝️ Malibu quiz
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/dashboard']">
        <ion-icon slot="icon-only" name="enter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  @if (isQuestionsListLoading()) {
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-skeleton-text [animated]="true" style="height: 2rem;"/>
          <ion-skeleton-text [animated]="true" style="height: 2rem; width: 30%;"/>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-skeleton-text [animated]="true" style="width: 80%"/>
          </ion-item>
          <ion-item>
            <ion-skeleton-text [animated]="true" style="width: 60%"/>
          </ion-item>
          <ion-item>
            <ion-skeleton-text [animated]="true" style="width: 70%"/>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  } @else if (isQuestionsListEmpty) {
    <div id="container">
      <strong>Здесь пока что нет ни одного вопроса</strong>
      <p>Наша команда их скоро добавит, а вы можете посмотреть <a target="_blank" rel="noopener noreferrer" href="https://uzmalibu.com/">сайт Malibu Travel</a></p>
    </div>
  } @else if (quizFinished()) {
    <div id="container">
      <h1>🎉</h1>
      <strong>Спасибо за Ваши ответы</strong>
      <p>Команда Malibu Travel благодарна за уделенное время</p>
    </div>
  } @else {
    @if (currentQuestionIndex() === -1) {
      <app-first-question-card
        (nameChange)="updateName($event)"
        (phoneChange)="updatePhone($event)"
        [name]="name()"
        [phone]="phone()"
      />
    } @else if(currentQuestionIndex() < questions().length) {
      <app-question-card
        [question]="currentQuestion"
        (answerChange)="updateAnswer($event)"
        [initialAnswer]="currentAnswer"
      />
    }

    <!-- Next Button  -->
    <ion-fab
      slot="fixed"
      vertical="bottom"
      horizontal="end"
      (click)="nextQuestion()"
      [style]="currentQuestionIndex() < questions().length - 1 ? 'display: flex;' : 'display: none;'"
    >
      <ion-label>Следующий</ion-label>
      <ion-fab-button>
        <ion-icon name="arrow-forward-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>

    <!-- Prev Button  -->
    <ion-fab
      slot="fixed"
      vertical="bottom"
      horizontal="start"
      (click)="prevQuestion()"
      [style]="currentQuestionIndex() > -1 ? 'display: flex;' : 'display: none;'"
    >
      <ion-fab-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-fab-button>
      <ion-label>Предыдущий</ion-label>
    </ion-fab>

    <!-- Send Answers Button  -->
     <ion-fab
      slot="fixed"
      vertical="bottom"
      horizontal="end"
      (click)="sendAnswers()"
      [style]="currentQuestionIndex() === questions().length - 1 ? 'display: flex;' : 'display: none;'"
    >
    <ion-label>Отправить ответы</ion-label>
    <ion-fab-button color="success">
      <ion-icon name="mail-open-outline"></ion-icon>
    </ion-fab-button>
    </ion-fab>
  }
</ion-content>
