<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      🏝️ Malibu quiz
    </ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/dashboard']">
        <ion-icon slot="icon-only" name="enter-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <strong>Здесь пока что нет ни одного вопроса</strong>
    <p>Наша команда их скоро добавит, а вы можете посмотреть <a target="_blank" rel="noopener noreferrer" href="https://uzmalibu.com/">сайт Malibu Travel</a></p>
  </div>
</ion-content>
